* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

body,
html {
  margin: 0;
  padding: 0;
}

#heading {
  flex-grow: 1;
  text-align: center;
  color: black;
  background-color: #add8e6;
  margin: 0;
  padding: 10px 0;
}

.task-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-item {
  flex: 1;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
  margin-top: 10px;
  font-size: large;
}

.top-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #add8e6;
  padding: 10px 100px;
}

#add-me-button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 10px;
}

#add-page-heading {
  background-color: #add8e6;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#add-page-description {
  margin-top: 3px;
}

.tableCellHeader {
  color: black;
  font-weight: bold;
  width: 16.666%;
}
